<!DOCTYPE html>
<!--<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="www.http://thymeleaf.org">-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User list</title>
</head>
<body>
<h1>List of all Users</h1>
<!--<span th:text="${users}"></span>-->
<!--<tr th:each="user : ${users}">-->
<!--    <td th:text="${user.userMail}"></td>-->
<!--    <td th:text="${user.password}"></td>-->
<!--</tr>-->
<table>
    <thead>
        <tr>
            <th>Usermail</th>
            <th>Password</th>
            <th>User_role</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="user : ${users}">
            <td th:text="*{user.userMail}">user1</td>
            <td th:text="${user.password}">password1</td>
            <td th:text="${user.user_role}">role1</td>
            <td><a th:href="@{/edit/{userMail}(userMail=${user.userMail})}">Edit</a></td>
<!--            <td><a th:href="@{/delete/{id}(id=${user.id})}">Delete</a></td>-->

        </tr>
    </tbody>
</table>
</body>
</html>